@using System.Globalization
@using BlazorFill.DOM.Elements
@using BlazorFill.DOM.Transitions
@using BlazorFill.DOM.Window
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop

@inject IJSRuntime _jsRuntime

<input class="input test" type="text" @ref="Input" @oninput="Callback" @onfocus="Callback" @onclick="Callback">

<div class="calendar @_fade" @ref="Calendar">
	@if (_show)
	{
		<div class="calendar-body">
			<div class="top-bar">
				@ReferencePoint.Year &mdash; @ReferencePoint.ToString("M", CultureInfo.CurrentCulture)
			</div>
			<div class="container">
				@foreach (var weekday in DateHelper.GetWeekdayPrefixes())
				{
					<div class="weekday">@weekday</div>
				}
				@foreach (var (date, valid) in _dateCells)
				{
					<div class="cell @valid">@date</div>
				}
			</div>
		</div>
	}
</div>

@code {

	[Parameter]
	public DatePickerOptions Options { get; set; } = new();

	[Parameter]
	public DateTime? DateTime { get; set; }

		private const string FadeOut = "fade-out";
		private const string FadeIn = "fade-in";

	private bool _show;
	private string _fade = string.Empty;
	private ElementReference Calendar { get; set; }
	private ElementReference Input { get; set; }
	private DateTime ReferencePoint { get; set; } = System.DateTime.Now;
	private IList<DateCell> _dateCells = new List<DateCell>();

	protected override Task OnInitializedAsync()
	{
		UpdateDateCells();
		return Task.CompletedTask;
	}

	private void UpdateDateCells()
	{
		for (var i = 0; i < 42; i++)
			_dateCells.Add(DateHelper.GetDate(ReferencePoint, i));
	}

	/// <summary>oninput</summary>
	private async Task Callback(ChangeEventArgs obj) { }

	/// <summary>onfocus</summary>
	private async Task Callback(FocusEventArgs obj)
	{
		await ShowAsync().ConfigureAwait(false);
	}

	/// <summary>onclick</summary>
	private async Task Callback(MouseEventArgs obj)
	{
		await ShowAsync().ConfigureAwait(false);
	}

	/// <summary>show calendar body and add window click event</summary>
	private async Task ShowAsync()
	{
		await _jsRuntime.AddOnWindowClickAsync(OutsideClickCallback).ConfigureAwait(false);
		_show = true;
		_fade = FadeIn;
	}

	/// <summary>clicking outside calendar</summary>
	private async Task OutsideClickCallback(MouseEventArgs arg)
	{
		if (!_show) return;

		var bounds = await _jsRuntime.GetBoundingClientRect(Input).ConfigureAwait(false);

	// if we click inside input, do not hide
		if (arg.ClientX > bounds.X && arg.ClientX < bounds.X + bounds.Width &&
		    arg.ClientY > bounds.Y && arg.ClientY < bounds.Y + bounds.Height) return;

	// if we click inside calendar, do not hide
		bounds = await _jsRuntime.GetBoundingClientRect(Calendar);
		if (arg.ClientX > bounds.X && arg.ClientX < bounds.X + bounds.Width &&
		    arg.ClientY > bounds.Y && arg.ClientY < bounds.Y + bounds.Height) return;

		await _jsRuntime.RemoveWindowClickEventAsync(OutsideClickCallback).ConfigureAwait(false);

	// start fade-out
		await _jsRuntime.AddTransitionEventsOnceAsync(Calendar, OnEndedCallback, new TransitionEventOptions { End = true }).ConfigureAwait(false);
		_fade = FadeOut;
		StateHasChanged();
	}

	/// <summary>when fade-out has ended</summary>
	private Task OnEndedCallback(TransitionEventArgs args)
	{
		_show = false;
		_fade = string.Empty;
		StateHasChanged();
		return Task.CompletedTask;
	}

}